<!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='utf-8'>
  <style>
   {% block style_css %}{% endblock %}
  </style>
</head>
<body>
  <header> 
  	{% block encabezado %}{% endblock %}

 			<dd><a href='/'>Inicio</a></dd>
			<dd><a href='/cargar_base_datos'>Cargar información (Acceso restringido)</a></dd>
			<dd><a href='/ingresar'>Acceda a su usuario</a></dd>
			<dd><a href='/nuevo_usuario'>Cree un nuevo usuario</a></dd>
			<dd><a href='/cerrar'>Cerrar sesión</a></dd>
			<dd><a href='/constructores'>Lista de constructores</a></dd>
			<dd><a href='/pilotos'>Lista de pilotos</a></dd>
			<dd><a href='/busqueda_nacionalidad'>Listar equipos y pilotos por nacionalidad</a></dd>
			<dd><a href='/busqueda_anyo'>Listar equipos y pilotos de una temporada concreta</a></dd>
	<hr>
  </header>
  <section>
    {% block contenido %}{% endblock %}
  </section>
  {% block pie %}{% endblock %} 
</body>
</html>