{% extends 'base.html' %}

{% block encabezado %}
<h1> Busqueda de Pilotos y Escuderias por Nacionalidad</h1>
{% endblock %}

{% block contenido %}

    	<form id="formulario" method="post" action=''>{% csrf_token %}
    		{{formulario}}
    		<input type='submit' value='Realizar Busqueda'/>
    	</form>
	    
	    <hr>

	    {% if pilotos %}
		    <h3> Total de Pilotos de la nacionalidad seleccionada:  {{ pilotos|length }}</h3>

			{% for row in pilotos %}
				<ul>
			    <dt><li><b>{{row.nombre}}</b> (Nombre de la nacionalidad: {{row.nacionalidad}})</li></dt>
			    <dd><b>Fecha de nacimiento: </b>{{row.fechaNacimiento}}
					<b>Victorias: </b>{{row.victorias}}
					<b>Podios: </b>{{row.podios}}
					<b>Poles: </b>{{row.poles}}
					<b>Campeonatos del mundo de pilotos ganados: </b>{{row.campeonatos}}
					<b>Temporadas disputadas: </b>{{row.temporadas}}
					<b>Carreras disputadas: </b>{{row.carreras}}
					<b>Puntos obtenidos durante su carrera deportiva: </b>{{row.puntos}}
					<b>Retiros durante su carrera deportiva: </b>{{row.retiros}} </dd>   
				</ul>	
				<dd> <b>Anyos competidos en el mundial: </b>
			    {% for a in row.anyos_competidos.all %}
			    	{{a.anyo}} 
			    {% endfor %}
					<br><br>
			{% endfor %}

			</dl>

		{% endif %}
		
			    {% if escuderias %}
		    <h3> Total de constructores de la nacionalidad seleccionada:  {{ escuderias|length }}</h3>

			{% for row in escuderias %}
				<ul>
			    <dt><li><b>{{row.nombre}}</b> (Nombre de la nacionalidad: {{row.nacionalidad}})</li></dt>
			    <dd><b>Victorias: </b>{{row.victorias}} 
					<b>Poles: </b>{{row.poles}}
					<b>Campeonatos del mundo de constructores ganados: </b>{{row.campeonatos}}
					<b>Temporadas disputadas: </b>{{row.temporadas}}
					<b>Carreras disputadas: </b>{{row.carreras}}
					<b>Puntos obtenidos durante su historia: </b>{{row.puntos}}
				<br>
				<dd> <b>Pilotos que han pilotado para ellos: </b>
			    {% for pil in row.pilotos.all %}
			    	{{pil.nombre}} 
			    {% endfor %}
			    </dd>
			   	<dd> <b>Temporadas en las que han participado: </b>
			    {% for a in row.anyos_competidos.all %}
			    	{{a.anyo}} 
			    {% endfor %}
			    </dd>
			    </ul>
			<br><br>
			{% endfor %}

			</dl>

		{% endif %}
		
	</div>
{% endblock %}
